body {
    background: #FFFFFF; /* Устанавливает белый фон для страницы */
    margin-top: 60px;
    font-family: 'Space Grotesk', sans-serif; /* Устанавливает шрифт для ссылок */
    font-style: normal; /* Устанавливает нормальный стиль шрифта */
    font-weight: 400; /* Устанавливает нормальную жирность шрифта */
    font-size: 20px; /* Устанавливает размер шрифта */
    width: 1440px;
}

ul {
    list-style-type: none; /* Убирает маркеры у списков */
    margin: 0; /* Убирает внешние отступы */
    padding: 0; /* Убирает внутренние отступы */
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'Space Grotesk';
    font-style: bold;
    font-weight: 900;
    font-size: 60px;
    color: #000000;
}

h2 {
    margin: 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: #000000;
}

h4 {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
}

.nav_bar {
    display: flex; /* Использует Flexbox для навигационной панели */
    flex-direction: row; /* Располагает дочерние элементы в строку */
    justify-content: space-between; /* Распределяет пространство между дочерними элементами */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    /*padding: 0px 100px; /* Устанавливает внутренние отступы (100px слева и справа) */
}

.menu {
    display: flex; /* Использует Flexbox для меню */
    justify-content: right; /* Выравнивает элементы по центру */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    /*gap: 5%; /* Устанавливает расстояние между дочерними элементами (2%) */
}

.menu ul {
    display: flex; /* Использует Flexbox для списка в меню */
}

.menu li {
    margin: 0 20px; /* Устанавливает горизонтальные отступы для элементов списка */
}

.menu a {
    font-family: 'Space Grotesk', sans-serif; /* Устанавливает шрифт для ссылок */
    font-style: normal; /* Устанавливает нормальный стиль шрифта */
    font-weight: 400; /* Устанавливает нормальную жирность шрифта */
    font-size: 20px; /* Устанавливает размер шрифта */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: #000000; /* Устанавливает цвет текста ссылок черным */
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
}

.button {
    box-sizing: border-box; /* Устанавливает расчет размеров элемента с учетом padding и border */
    display: flex; /* Использует Flexbox для кнопки */
    align-items: flex-start; /* Выравнивает элементы по верхнему краю кнопки */
    padding: 20px 35px; /* Устанавливает внутренние отступы (20px сверху и снизу, 35px слева и справа) */
    border: 1px solid #191A23; /* Устанавливает границу кнопки */
    border-radius: 14px; /* Устанавливает скругление углов кнопки */
    font-family: 'Space Grotesk'; /* Устанавливает шрифт для текста кнопки */
    font-style: normal; /* Устанавливает нормальный стиль шрифта */
    font-weight: 400; /* Устанавливает нормальную жирность шрифта */
    font-size: 20px; /* Устанавливает размер шрифта текста кнопки */
    white-space: nowrap; /* Запрещает перенос текста на новую строку внутри кнопки */
    color: #000000; /* Устанавливает цвет текста кнопки черным */
    background: #FFFFFF; /* Устанавливает белый цвет фона кнопки */
    margin-left: 20px;
}
.button-2{
    box-sizing: border-box; /* Устанавливает расчет размеров элемента с учетом padding и border */
    display: flex; /* Использует Flexbox для кнопки */
    align-items: flex-start;
    padding: 20px 35px 20px 35px; /* Устанавливает внутренние отступы (20px сверху и снизу, 35px слева и справа) */
    border: 1px solid #191A23; /* Устанавливает границу кнопки */
    border-radius: 14px; /* Устанавливает скругление углов кнопки */
    font-family: 'Space Grotesk'; /* Устанавливает шрифт для текста кнопки */
    font-style: normal; /* Устанавливает нормальный стиль шрифта */
    font-weight: 400; /* Устанавливает нормальную жирность шрифта */
    font-size: 20px;
    white-space: nowrap; 
    color: #ffffff; 
    background: #000000;
    text-align: center;
}
.button-2:hover {
    background-color: white;
    color: black;
}
.button:hover {
    background-color: black; /* Изменяет цвет фона на черный при наведении на кнопку */
    color: white; /* Изменяет цвет текста на белый при наведении */
}
.button-2:active {
    background-color: #ffffff; /* Изменяет цвет фона на темный при нажатии на кнопку */
    transform: scale(0.98); /* Уменьшает размер кнопки при нажатии для эффекта нажатия */
    border-color: #000000; /* Изменяет цвет границы на темный при нажатии */
}
.button:active {
    background-color: #1f1f1f; /* Изменяет цвет фона на темный при нажатии на кнопку */
    transform: scale(0.98); /* Уменьшает размер кнопки при нажатии для эффекта нажатия */
    border-color: #1f1f1f; /* Изменяет цвет границы на темный при нажатии */
}


.long-element {
    display: flex; /* Использует Flexbox для навигационной панели */
    flex-direction: row; /* Располагает дочерние элементы в строку */
    margin: 140px 100px 80px 100px;
}

.first-block {
    display: flex;
    flex-direction: row;
    margin: 70px  100px 70px 100px;
    justify-content: space-between;
}

.first-block-text{
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px; 
    width: 531px;
    height: 481px;
}
.text-first-block {
    margin: 35px 0px 35px 0px;
    width: 580px;
    font-family: 'Space Grotesk'; /* Устанавливает шрифт для текста кнопки */
    font-style: normal; /* Устанавливает нормальный стиль шрифта */
    font-weight: 400; /* Устанавливает нормальную жирность шрифта */
    font-size: 22px;
}
.label-long-element {
    padding: 0px 7px;
    background: #B9FF66;
    border-radius: 7px;
    margin-right: 40px;
}
.illustration{
    width: 600.46px;
    height: 515px;
    right: auto;
}
/* At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include: */
.logotypes{
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-left: 100px;
    margin-right: 100px;
}


.logotypes img {
    mix-blend-mode: luminosity;
}

.card-section-1 {
    display: flex;
    height: 310px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}
.first-card {
    display: flex;
    width: 600px;
    height: 310px;
    padding: 50px;
    box-sizing:border-box;
    background-color: #F3F3F3;
    border: 2px solid #000000;
    border-bottom: 6px solid #000000;
    border-radius: 20px;
    justify-content: space-between;
}
#card-1-logo{
    width: 210px;
    height: 170px;
}
#hal-1 {
    width: 221px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lab-1 {
    display: flex;
    width: 207px;
    height: 38px;
    background: #B9FF66;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}
.lab-2 {
    display: flex;
    width: 197px;
    height: 38px;
    background: #B9FF66;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}
.link-1 {
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}
#h-1 h3{
    font-size: 30px;
}
#h-1 {
    display: flex;
    width: 221px;
    height: 76px;
    align-items: center;
    flex-wrap: wrap;
}
#l-1{
    display: flex;
    width: 164px;
    height: 41px;
    align-items: center;
    justify-content: space-around;
}
.card-2 {
    display: flex;
    width: 600px;
    height: 310px;
    padding: 50px;
    box-sizing:border-box;
    background-color: #B9FF66;
    border: 2px solid #000000;
    border-bottom: 6px solid #000000;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
#card-2-logo{
    width: 210px;
    height: 147,76px;
}
#hal-2 {
    display: flex;
    width: 209px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lab-3 {
    display: flex;
    width: 209px;
    height: 38px;
    background: #F3F3F3;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}
.lab-4 {
    display: flex;
    width: 178px;
    height: 38px;
    background: #F3F3F3;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}
.link-2 {
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}
#h-2 h3{
    font-size: 30px;
}
#h-2 {
    display: flex;
    width: 209px;
    height: 76px;
    align-items: center;
    flex-wrap: wrap;
}
#l-2{
    display: flex;
    width: 164px;
    height: 41px;
    align-items: center;
    justify-content: space-around;
}

.text-long-element {
    width: 580px;
}

.text-long-element p{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

footer {
    width: 100%;
}

.footer_nav_bar {
    display: flex;
    flex-direction: column;
    padding: 55px 60px 50px;
    margin: 140px 100px 0px 100px;
    gap: 50px;
    /* Dark */
    background: #191A23;
    border-radius: 45px 45px 0px 0px;
}

.footer_nav_bar_menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
}

.logo2{
    width: 180px;
    height: 29px;
}

#menu-footer a{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FFFFFF;
}

#menu-footer li {
    margin: 0 20px; /* Устанавливает горизонтальные отступы для элементов списка */
}

.logo-s {
    padding: 0px 8px 0px 8px;
}

.footer_nav_bar_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_nav_bar_info_left {
    display: flex;
    flex-direction: column;
}

.contact-us {
    display: flex;
    width: fit-content;
    padding: 0px 7px;
    background: #B9FF66;
    border-radius: 7px;
    margin-bottom: 27px;
}


.contact-us h4 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.info p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#last-str {
    margin-bottom: 0;
}

.subscription {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 58px 40px;
    gap: 20px;
    background: #292A32;
    border-radius: 14px;
}

.form {
    display: flex;
    flex-direction: row;
}

input[type="text"] {
    /* Field */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px 35px;
    gap: 10px;

    background: #292A32;
    border: 1px solid #FFFFFF;
    border-radius: 14px;


    /* p */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #FFFFFF;

    outline: none;
    margin-right: 20px;

}
input[type="submit"] {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 35px;
    gap: 10px;
    /* Green */
    background: #B9FF66;
    border-radius: 14px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: center;

    /* Black */
    color: #000000;
    border-width: 0px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.copyright {
    display: flex;
    flex-direction: row;
    color: #ffffff; /* Устанавливает цвет текста ссылок черным */
    border-top: 1px solid #FFFFFF;
    width: 100%;
    padding-top: 80px;
}

.privat-policy {
    margin-left: 50px;
}

.privat-policy a {
    color: #ffffff; /* Устанавливает цвет текста ссылок черным */
}
