<!DOCTYPE html> <!-- Определяет тип документа и версию HTML (HTML5) -->
<html lang="ru"> <!-- Начало HTML-документа, задает язык страницы как русский -->
<head>
    <meta charset="UTF-8"> <!-- Устанавливает кодировку документа в UTF-8 для поддержки всех символов -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Устанавливает мета-тег для адаптивного дизайна на мобильных устройствах -->
    <title>Positivus Landing Page Design (Community)</title> <!-- Устанавливает заголовок страницы, который отображается на вкладке браузера -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}"> <!-- Подключает файл стилей (CSS) для оформления страницы -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Предварительное соединение с Google Fonts для ускорения загрузки -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Предварительное соединение с Google Fonts (с использованием кросс-доменных запросов) -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet"> <!-- Подключает шрифт Space Grotesk с разными весами -->
</head>
<body> <!-- Начало тела документа -->
    <header> <!-- Начало заголовка страницы -->
        <div class="nav_bar"> <!-- Контейнер для навигационной панели -->
            <div class="logo"> <!-- Контейнер для логотипа -->
                    <img src="{{ url_for('static', filename='images/logo.svg')}}" alt = "logo"> <!-- Вставляет изображение логотипа -->
        </div>
            <div class="menu"> <!-- Контейнер для меню навигации -->
                <ul class="menu-item"> <!-- Ненумерованный список для пунктов меню -->
                    <li><a href="#">About us</a></li> <!-- Пункт меню "О нас" -->
                    <li><a href="#">Services</a></li> <!-- Пункт меню "Услуги" -->
                    <li><a href="#">Use Cases</a></li> <!-- Пункт меню "Случаи использования" -->
                    <li><a href="#">Pricing</a></li> <!-- Пункт меню "Цены" -->
                    <li><a href="#">Blog</a></li> <!-- Пункт меню "Блог" -->
                </ul>
                <button type="button" class="button">Request a quote</button> <!-- Кнопка "Запросить квоту" -->
            </div>
        </div>
    </header>
    <main> <!-- Начало основного содержимого страницы -->
        <div>
            <div class="first-block">
                <div class="first-block-text">
                    <h1>Navigating the digital landscape for success</h1>
                    <p class="text-first-block">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
                    <button type="button" class="button-2">Book a consultation</button>
                </div>
                
            <div class="Illustration">
                <img src="{{ url_for('static', filename='images/Illustration.svg')}}">
        </div>
        </div>
        <div class="logotypes">
            <img src="{{ url_for('static', filename='images/amazon.svg')}}" >
            <img src="{{ url_for('static', filename='images/dribbble.svg')}}" >
            <img src="{{ url_for('static', filename='images/hubspot.svg')}}">
            <img src="{{ url_for('static', filename='images/notion.svg')}}">
            <img src="{{ url_for('static', filename='images/netflix.svg')}}">
            <img src="{{ url_for('static', filename='images/zoom.svg')}}">
        </div>
        <div class = "long-element">
            <div class = "label-long-element">
                <h2>Services</h2>
            </div>
            <div class = "text-long-element">
                <p>At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:</p>
            </div>
        </div>
        <div class="card-section-1">
            <div class="first-card">
                <div id="hal-1">
                    <div id="h-1">
                        <div class="lab-1"><h3>Search engine</h3></div>
                        <div class="lab-2"><h3>optimization</h3></div>   
                    </div>
                    <a href="#" class="link-1">
                        <div id="l-1">
                            <img src="{{ url_for('static', filename='images/Icon.svg')}}">
                            <h3 style="font-size: 20px;">Learn more</h3>
                        </div>
                    </a>
                </div>
                <div class="card-1-logo">
                    <img src="{{ url_for('static', filename='images/Illustration-2.svg')}}">
                </div> 
            </div>
            <div class="card-2">
                <div id="hal-2">
                    <div id="h-2">
                        <div class="lab-3"><h3>Day-per-click</h3></div>
                        <div class="lab-4"><h3>advertising</h3></div>   
                    </div>
                    <a href="#" class="link-2">
                        <div id="l-2">
                            <img src="{{ url_for('static', filename='images/Icon.svg')}}" alt = "Icon">
                            <h3 style="font-size: 20px;">Learn more</h3>
                        </div>
                    </a>
                </div>
                <div class="card-2-logo">
                    <img src="{{ url_for('static', filename='images/Illustration-3.svg')}}">
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <div class="footer_nav_bar">
            <div class="footer_nav_bar_menu">
                <div>
                    <img src="{{ url_for('static', filename='images/logo2.svg')}}" class="logo2">
                </div>
                <div>
                    <ul class="menu" id="menu-footer"> <!-- Ненумерованный список для пунктов меню -->
                        <li><a href="#">About us</a></li> <!-- Пункт меню "О нас" -->
                        <li><a href="#">Services</a></li> <!-- Пункт меню "Услуги" -->
                        <li><a href="#">Use Cases</a></li> <!-- Пункт меню "Случаи использования" -->
                        <li><a href="#">Pricing</a></li> <!-- Пункт меню "Цены" -->
                        <li><a href="#">Blog</a></li> <!-- Пункт меню "Блог" -->
                    </ul>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='images/s1.svg')}}" class="logo-s">
                    <img src="{{ url_for('static', filename='images/s2.svg')}}" class="logo-s">
                    <img src="{{ url_for('static', filename='images/s3.svg')}}" class="logo=s">
                </div>
            </div>
            <div class="footer_nav_bar_info">
                <div class="footer_nav_bar_info_left">
                    <div class="contact-us">
                        <h4>Contact us:</h4>
                    </div>
                    <div class="info">
                        <p>Email: info@positivus.com</p>
                        <p>Phone: 999-567-8901</p>
                        <p id="last-str">Address: 1234 Main St <br>
                            Moonstone City, Stardust State 12345</p>
                    </div>
                </div>
                <div class="subscription">
                    <form action="/submit" method="POST" class = "form">
                        <input type="text" id="textInput" name="textInput" placeholder="Email" required>
                        <input type="submit" value="Subscribe to news">
                    </form>
                </div>
            </div>
            <div class="copyright">
                <p>© 2023 Positivus. All Rights Reserved.</p>
                    <div class="privat-policy">
                        <a href="#">Privacy Policy</a>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>
